<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Data</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
      <% @result_json.each do | key, value | %>
        <tr>
          <td>
            <%= key %>
          </td>
          <td>
            <%= value %>
          </td>
        </tr>
      <% end %>

      <% if false %>
      <tr>
        <td>
          source
        </td>
        <td>
          <%= truncate(result.source_name, length: 10) %>
        </td>
      </tr>
      <tr>
        <td>
          data no.
        </td>
        <td>
          <%= result.fields_data_number %>
        </td>
      </tr>
      <% end %>
      
    </tbody>
  </table>
</div>